<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Dúvidas Anônimas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Escreva aqui sua dúvida</h1>
        <p>O pastor e os líderes receberão de forma completamente anônima.</p>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="alert">
              {{ messages[0] }}
            </div>
          {% endif %}
        {% endwith %}

        <form method="POST">
            <textarea name="mensagem" placeholder="Digite sua dúvida..." required></textarea><br>
            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>
