<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tire suas dúvidas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Escreva aqui sua dúvida</h1>
        <p>O pastor e os líderes receberão de forma completamente anônima</p>
        <form method="POST" action="/">
            <textarea name="mensagem" placeholder="Escreva sua mensagem aqui..." required></textarea>
            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>
